OPENROUTER_API_KEY=

# Contact form email delivery
RESEND_API_KEY=

# Analytics (optional)
NEXT_PUBLIC_GA_ID=


NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

 HF_API_KEY=

| organization_id                      | agent_id                             | public_key                           |
| ------------------------------------ | ------------------------------------ | ------------------------------------ |
| 1702884b-7d66-4129-b243-c5d89ceb07e7 | fc9f7a02-4ce4-443e-99fc-13e5b7319907 | clx_0cc749d21f00a4caa67c60e084032558 |