


RESEND_API_KEY=re_YJsv7Ke1_C6prdwA

OPENROUTER_API_KEY=sk-or-v1-0d3d55ac54b832cf2c836fc054

NEXT_PUBLIC_SITE_URL=https://mbrstudio.vercel.app

NEXT_PUBLIC_SUPABASE_URL=https://wtielgnt

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIU

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciO

# Meta App
META_APP_ID=20701
META_APP_SECRET=fc6cfeb8378cb
# WhatsApp Cloud API
META_WHATSAPP_PHONE_NUMBER_ID=10658
META_WHATSAPP_ACCESS_TOKEN=EAAdav78ISjQBRzUemc1yo0aZBfqIlTyaUzGUV0FOXKgOEwCxbtEBe

# Webhook
META_WEBHOOK_VERIFY_TOKEN=aflkjoeirueiowrsaldfjvm

# Encryption
CHANNEL_TOKEN_ENCRYPTION_KEY=ead70153132ae271a6ab1f124aa2293

 permanent access token for your WhatsApp Business Account to send messages via the API=EAAdav78ISjQBRzm4mnAb3TqxSTCVJOyBNGJzRPZBVZCVf1NcsGMPeDTlUPDMnbqczxsf1T


